@import '../../../../../global/globalCssVariables';

.canvasView-wrapper {
  overflow: hidden;
  position: absolute;
  width: 200vh;
  height: 200vh;

  .container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .canvas-Nodes{
    left: 0;
    top: 0;
  }
}
